# .env должен быть в гит игноре
MODE = development|production # локально ставим development, на боевом через ftp устанавливаем production

VITE_BASE_PATH = /local/js/vite/dist/
VITE_PORT = 5173 # как у контейнера node